# Project 2 - Project Plan

---

## ML MODEL TEST/TRAIN REPORTS
---

### TWITTER 

#### BTC - LogisticRegression with Resampling
              precision    recall  f1-score   support

          -1       0.79      0.31      0.45       183
           0       0.22      0.33      0.27        45
           1       0.05      0.38      0.09        13

    accuracy                           0.32       241 
    macro avg      0.35      0.34      0.27       241
    weighted avg   0.65      0.32      0.39       241

#### BTC - SVC Model with Resampling

             precision    recall  f1-score   support

          -1       0.75      0.26      0.38       183
           0       0.16      0.24      0.19        45
           1       0.05      0.38      0.08        13

    accuracy                           0.26       241
    macro avg      0.32      0.30      0.22       241
    weighted avg   0.60      0.26      0.33       241

#### ETH - LogisticRegression with Resampling

              precision    recall  f1-score   support

          -1       0.78      0.22      0.35       171
           0       0.19      0.40      0.26        42
           1       0.11      0.39      0.17        28

    accuracy                           0.27       241
    macro avg      0.36      0.34      0.26       241
    weighted avg   0.60      0.27      0.31       241




#### ETH - SVC Model with Resampling

              precision    recall  f1-score   support

          -1       0.79      0.26      0.39       171
           0       0.22      0.40      0.28        42
           1       0.12      0.46      0.19        28

    accuracy                           0.31       241
    macro avg      0.38      0.38      0.29       241
    weighted avg   0.61      0.31      0.35       241


### REDDIT

#### BTC - LogisticRegression with Resampling

              precision    recall  f1-score   support

          -1       0.86      0.25      0.39       189
           0       0.24      0.52      0.32        31
           1       0.10      0.57      0.17        21

    accuracy                           0.32       241
    macro avg      0.40      0.45      0.30       241
    weighted avg   0.71      0.32      0.36       241



#### BTC - SVC Model with Resampling

              precision    recall  f1-score   support

          -1       0.91      0.28      0.43       189
           0       0.27      0.39      0.32        31
           1       0.11      0.71      0.19        21

    accuracy                           0.33       241
    macro avg      0.43      0.46      0.31       241
    weighted avg   0.76      0.33      0.39       241


#### ETH - LogisticRegression with Resampling

              precision    recall  f1-score   support

          -1       0.62      0.18      0.28       168
           0       0.23      0.49      0.31        43
           1       0.08      0.27      0.12        30

    accuracy                           0.24       241
    macro avg      0.31      0.31      0.24       241
    weighted avg   0.49      0.24      0.26       241


#### ETH - SVC Model with Resampling

              precision    recall  f1-score   support

          -1       0.68      0.19      0.30       168
           0       0.21      0.35      0.26        43
           1       0.10      0.40      0.16        30

    accuracy                           0.24       241
    macro avg      0.33      0.31      0.24       241
    weighted avg   0.52      0.24      0.27       241


### Neural Network Training and Test

The neural netwok testing with various neural networks also didn't coem up with any dependable results. See the csv files attached
[BTC-twitter]('twitter_btc.pdf')